streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-chroma
langchain-huggingface
langchain-text-splitters
python-dotenv
beautifulsoup4
sentence-transformers
faiss-cpu
chromadb
ipykernel

